body {
    color: #000000;
    font-family: "Computer Modern Serif", Arial,'Times New Roman', sans-serif;
    /*width: 1200px;*/
    margin: 0 auto;
    background-color: #FFDBAC;
    padding: 20px 20px 20px 20px;
    /*border: 2px solid black;*/
    background:linear-gradient( rgba(255, 255, 255, 0.7) 100%, rgba(0, 0, 0, 1)100%),url("images/maintheme.png");
    font-size: 1em;
}

table
{
    border-collapse: collapse;
    text-align: center;
    font-size: 1em;
}
td
{
    border: 1px solid black;
}

th
{
    font-style: italic;
    padding:10px 10px 2px 10px;
}

h1 {
    color: darkgreen;
    text-align: center;
    font-family: Mathinfo;
    font-size: 4.5em;
    letter-spacing: 0.01em;
}


h2 {
    font-size: 17px;
}

a {
    color: #047FFF;
    text-decoration: none;
}

.warning {
    font-weight: bold;
    color: red;
    text-align:center;
    padding:10px;
}

.button {
    color: black;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-radius: 5px;
    border-color: #000000;
    font-size : 1.7em;
    text-align: center;
    margin-bottom:1em;
    width:50%;
}

.button:hover {
    color: #FFFFFF;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-radius: 5px;
    border-color: #000000;
    font-size : 1.7em;
    text-align: center;
    margin-bottom:1em;
    background-color: black;
    box-shadow: 2px 5px 5px grey;
    width:50%;
}




.container{    
    display: flex;
	flex-direction: column;
    align-items: center;
}

@font-face
{
    font-family: 'Mathinfo';
    src:url("fonts/Blox2.ttf")
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align:center;
}

.showInfo:hover{
    
}

.projetActif {
    color: red;
    font-weight: bold;
}

.encadre{
    border: 2px solid black;
    padding: 4px
}

.spaceout{
    line-height: 1.3
}

footer{
    position: absolute;
    bottom: 0;
}


input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

/*
input[type=checkbox] {
  vertical-align: bottom;
    content:'+';
    color:red;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  background: black;
}
*/

input[type=checkbox] {
  vertical-align: bottom;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  width: 2.05em;
  height: 2.05em;
  background: darkgreen; 
}

input[type="checkbox"]::before {
    content: '+';
    font-size: 3em;
    font-weight: bold;
    display: block;
    color: cornsilk;
    position: relative;
    left: 0px;
    top: -5px;
    transform: rotate(0.5turn);
}

input[type="checkbox"]:checked {
  background: darkgreen;
  margin:0px;
  left: 3px;
  top: 3px;
  position: relative;}

input[type="checkbox"]:checked::before {
    content: '-';
    font-size: 3em;
    font-weight: bold;
    display: block;
    color: cornsilk;
    position: relative;
    left: -3px;
    top: -5px;
    /*transform: rotate(0.125turn);
    transition-property: transform;
    transition-duration: 0.1s*/
}

.sequence{
    display:none;
}

#checkB:checked + .sequence {
    display:block;
}

#chap::before {
    content : 'Chapitre'
}